# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Josiah\CLionProjects\vulkan_tutorial\.idea/dataSources/
/dataSources.local.xml
